.idea/.gitignore
.idea/dolores_electronics.iml
.idea/encodings.xml
.idea/misc.xml
.idea/modules.xml
.idea/serialmonitor_settings.xml
.idea/vcs.xml
.idea/inspectionProfiles/Project_Default.xml
.idea/sonarlint/issuestore/index.pb
.idea/sonarlint/issuestore/a/2/a2ac2b965f556a82b45c6f0dcf8dc0d633b8eec9
